@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

@page {
    margin: 0;
}

html {
    height: 100%;
}


body {
    width: 100% !important;
    height: 100% !important;
    background-color: #bde0fe;
    font-family: 'Inconsolata', monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: #415a77;
}

.container {
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border-spacing: 10px;
}

.inner-ctn {
    margin-left: 2%;
    width: 96%;
    height: 92%;
    margin-bottom: 2%;
    background: #f5ebe0;
    border-radius: 10px;
    border: 2px solid #0f2533;
}

.inner-ctn div{
    border-spacing: 20px;
}

.inner-ctn a{
    color: #0077b6;
}

.inner-ctn ul {
    margin: 0;
    padding: 0 1vw 0 2vw;
}

.inner-ctn div > div {
    display: table-row
}

.inner-ctn div h2, .inner-ctn ul h2 {
    margin: 0;
}

.contact-skill {
    height: auto;
    width: 100%;
}

.outter-ctn {
    height: inherit;
    background: #a2d2ff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #0f2533;
}

.title {
    font-family: 'Press Start 2P', serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.person {
    margin-top: 10px;
    padding: 0;
}


.image {
    width: 10%;
    background-image: url('../../assets/photo.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #0f2533;
}


.contact-skill,
.experience-education-miscellaneous {
    display: table-row;
}

.person .inner-ctn {
    height: 80%;
    border-spacing: 5px;
    padding: 10px 0;
}

.person .inner-ctn>div {
    display: table-cell;
}

.person .inner-ctn div h2{
    margin: 10px 5px;
    text-align: center;
}

.contact-skill>div {
    display: table-cell;
}

.contact-skill div:nth-child(1) {
    width: 35%;
}

.experience-education-miscellaneous, .miscellaneous {
    margin-top: 10px;
}

.experience-education-miscellaneous>div {
    display: table-cell;
}


.education-miscellaneous .education .inner-ctn ul {
    margin: 0;
}

.education-miscellaneous .education .inner-ctn h2, .education-miscellaneous .miscellaneous .inner-ctn h2, .contact-skill .contact .inner-ctn .contact-info-ctn h2 {
    text-align: center;
}

.contact-skill .contact .inner-ctn .contact-info-ctn h2{
    margin-left: 15px;

}

.education-miscellaneous .education .inner-ctn h2{
    margin-left: -45px;
}

.education-miscellaneous .miscellaneous .inner-ctn p, .contact-skill .contact .inner-ctn .contact-info-ctn p {
    text-align: center;
}

.contact .inner-ctn .contact-info-ctn p {
    margin: 0;
    margin-bottom: 15px;
    margin-left: 10px;

}

.contact-skill .contact .inner-ctn .contact-info-ctn{
    margin-top: 25%;
}

.contact-skill .contact .inner-ctn .contact-info-ctn, .contact-skill .contact .inner-ctn .contact-info-ctn > div{
    width: 100%;
}


.contact-skill .contact .inner-ctn {
    height: 275px;
}

.vertical-separator {
    border-right: 10px solid transparent;
}

.separator {
    border: 5px solid transparent;
}

.person h1 {
    padding-top: 10px;
}

span{
    text-align: center;
}