//work scss
$slider-bg-color: rgba(0, 0, 0, .3);

.work-ctn {
  height: 80vh;
  margin: 8vh 5vw;
  width: 90vw;
  display: flex;
}

.timeline-slider-ctn {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative; // Making this the relative parent
}

.timeline-slider {
  width: 1vw;
  height: 80%;
  background: $slider-bg-color;
  border-radius: 20px;
  position: fixed;
  transform: translateX(-50%) !important; // To offset by half of its width for perfect centering
}

.progress {
  width: 1vw;
  border-radius: 20px;
  height: 0; // Initial height is set to 0
  position: absolute;
  top: 0;
}

.timeline-section-unclicked {
  width: 100%;
  height: 25%;
  position: relative;
  cursor: pointer; // to indicate it's clickable

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(161, 161, 161, 1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.timeline-section-clicked {
  width: 100%;
  height: 25%;
  position: relative;
  cursor: auto; // to indicate it's clickable

  &::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.timeline-data-ctn {
  flex: 10;
  height: 100%;
  overflow: scroll;
  color: white;
}

.timeline-data-ctn .invisible-experience{
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.timeline-data-ctn .experience{
  opacity: 1;
  display: flex;
  position: relative;
  top: 30%;
}

.timeline-data-date{
  flex: 1;
  margin: 0;
  height: auto;
  display: table;
}

.timeline-data-date h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  display:table-cell;
  vertical-align:middle
}

.timeline-data-context{
  flex: 6;
  height: fit-content;
}

.timeline-data-context > h1, .timeline-data-context > h2{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
}
.timeline-data-context > ul {
  margin-top: 5%;
}
.timeline-data-context > ul li{
  list-style-type: none;
  font-family:  sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 2.5em;
}

//animations
@mixin increaseUp($transformAmmount: 80vh, $opacity) {
  $name: unique-id();

  $transform: $transformAmmount;
  animation: #{$name} 1s ease-in 0s normal;
  pointer-events: all;
  @keyframes #{$name} {
    0% {
      opacity: $opacity;
      transform: translateY($transform);
    }
    100% {
      opacity: 1- $opacity;
      transform: translateY(0);
    }
  }
}

@mixin fadeDown($transformAmmount: 80vh, $opacity) {
  $name: unique-id();

  $transform: $transformAmmount;
  animation: #{$name} 1s ease-in 0s normal;
  pointer-events: all;
  @keyframes #{$name} {
    0% {
      opacity: $opacity;
      transform: translateY(-$transform);
    }
    100% {
      opacity: 1- $opacity;
      transform: translateY(0);
    }
  }
}

//animation classes
.animate-invisible-experience .timeline-data-context{
  margin-left: 10vw;
}
.timeline-data-ctn .animate-invisible-experience{
  @include fadeDown(40vh, 1)
}

.timeline-data-ctn .animate-visible-experience{
  @include increaseUp(40vh, 0)
}

