//work scss
$slider-bg-color: rgba(0, 0, 0, .3);

.work-ctn {
  height: 80vh;
  margin: 8vh 6vw;
  width: 90vw;
  display: flex;
  overflow: hidden;
}

.work-ctn > div:nth-child(2) {
  margin-left: 30px;
}


.timeline-slider-ctn {
  width: 1vw;
  height: 70%;
  margin-top: 3vh;
  background: $slider-bg-color;
  border-radius: 20px;
  position: fixed;
  //transform: translateX(-100%) !important; // To offset by half of its width for perfect centering
  flex: 4;
}

.progress {
  width: 100%;
  border-radius: 20px;
  height: 0; // Initial height is set to 0
  position: absolute;
  top: 0;
}

.timeline-section-unclicked, .timeline-section-clicked {
  width: 100%;
  height: 25%;
  position: relative;
  z-index: 1;
  button {
    content: '';
    width: 1.5vw;
    height: 1.5vw;
    padding: 0;
    border-radius: 50%;
    position: relative;
    top: 90%;
    left: -25%;
    border: none;
    outline: none;
    z-index: 10;
  }
}

.timeline-section-unclicked {
  cursor: pointer; // to indicate it's not clickable
  button {
    background-color: rgba(161, 161, 161, 1);
  }
}

.timeline-section-clicked {
   cursor: auto; // to indicate it's clickable
  button{
    background-color: rgba(255, 255, 255, 1);
  }
}

.timeline-data-ctn {
  flex: 9;
  height: 100%;
  color: white;
}

.timeline-data-ctn .invisible-experience{
  opacity: 0;
  position: absolute;
  bottom: 0;
  display: none;
}

.timeline-data-ctn .experience{
  opacity: 1;
  display: flex;
  position: relative;
  top: 30%;
}

.timeline-data-date{
  flex: 1;
  margin: 0;
  height: auto;
  display: table;
}

.timeline-data-date h1{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  display:table-cell;
  vertical-align:middle
}

.timeline-data-context{
  flex: 6;
  height: fit-content;
}

.timeline-data-context > h1, .timeline-data-context > h2{
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: normal;
}
.timeline-data-context > ul {
  margin-top: 5%;
}
.timeline-data-context > ul li{
  list-style-type: none;
  font-family:  sans-serif;
  font-weight: bolder;
  text-align: center;
  line-height: 2.5em;
}

//animations
@mixin increaseUp($transformAmmount: 80vh, $opacity) {
  $name: unique-id();

  $transform: $transformAmmount;
  animation: #{$name} 0.5s ease-in 0s normal;
  pointer-events: all;
  @keyframes #{$name} {
    0% {
      opacity: $opacity;
      transform: translateY($transform);
    }
    100% {
      opacity: 1- $opacity;
      transform: translateY(0);
    }
  }
}

@mixin fadeDown($transformAmmount: 80vh, $opacity) {
  $name: unique-id();

  $transform: $transformAmmount;
  animation: #{$name} .5s ease-in 0s normal;
  pointer-events: all;
  @keyframes #{$name} {
    0% {
      opacity: $opacity;
      transform: translateY(-$transform);
    }
    100% {
      opacity: 1- $opacity;
      transform: translateY(0);
    }
  }
}

//animation classes
.animate-invisible-experience .timeline-data-context{
  margin-left: 10vw;
}
.timeline-data-ctn .animate-invisible-experience{
  @include fadeDown(40vh, 1)
}

.timeline-data-ctn .animate-visible-experience{
  @include increaseUp(40vh, 0)
}


//aspect ratio
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9), (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 144dpi),only screen and (max-width: 800px) {
  .work-ctn .timeline-data-ctn h1, .work-ctn .timeline-data-ctn h2{
    font-size: 1.2rem;
  }

  .work-ctn .timeline-data-ctn li{
    font-size: 0.6rem;
  }
}


@media only screen and (max-width: 800px) {
  .work-ctn {
    margin: 12vh 2vw;
  }

  .timeline-section-unclicked, .timeline-section-clicked {
    button {
      width: 4.5vw;
      height: 4.5vw;
      position: relative;
      top: 90%;
      left: -150%;
    }
  }

  .timeline-data-ctn .experience{
    flex-direction: column;
    top: 0;
  }
}
