.contact-info-card {
  margin: 2vh 1vw;
  padding: 1vh 2vw;
}

.contact-info-action {
  margin: 3vh .5vw;
  vertical-align: center;
  width: 64px;
  height: 64px;
  border: none;
}
@media only screen and (max-width: 800px) {

  .contact-info-action {
    height: 32px;
    width: 32px;
    margin: 1vh 3.5vw;

  }
}
