<div [defaultClasses]="['upper-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[]" appLightingMode>
  <main>
    <section [defaultClasses]="['main']" [isDarkMode]="isDarkMode" [lightingClasses]="['text-color']"
             appLightingMode>
      <h1 #slideR class="name">{{'_NAME_' | translate}}</h1>
      <p #slideR class="title">{{'_ME_TITLE_' | translate}}</p>
      <p #slideR class="description">{{'_ME_DESCRIPTION_' | translate}}</p>
      <div [defaultClasses]="['info-btn-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="['text-color', 'button-border-color']" appLightingMode>
        <button #slideL (click)="clearScreenAnimationAndShowProjects()"><span>{{'_PROJECTS_' | translate}}</span></button>
        <button #slideL (click)="clearScreenAnimationAndShowWork()"><span>{{'_WORK_' | translate}}</span></button>
        <div class="resume-download-ctn">
          <button #slideL (click)="downloadResume('en')">
          <span>
        </span>
            <span>{{'_RESUME_' | translate}} - EN </span>
          </button>
          <button #slideL (click)="downloadResume('fr')">
          <span>

        </span>
            <span>{{'_RESUME_' | translate}} - FR</span>
          </button>
        </div>
        <button #slideL (click)="quit()" *ngIf="!isThreeModelHidden"><span>{{'_QUIT_' | translate}}</span></button>

      </div>
    </section>
  </main>
</div>
<app-custom-alert [messageType]="'_SUBSCRIPTION_'"></app-custom-alert>
