<div class="upper-ctn">
  <main>
    <div class="header">
      <section class="about">
        <h1>ABOUT</h1>
      </section>

      <section class="contact">
        <h1>WRITE ME</h1>
      </section>
    </div>
    <section *ngIf="!showProjects && !showWork else elseBlock" class="main">
      <h1 #slideR class="name">YOUNESS H.</h1>
      <p #slideR class="title">Software developer</p>
      <p #slideR class="description">Crafting beautiful and intuitive user interfaces is my passion.</p>
      <div class="info-btn-ctn">
        <button #slideL (click)="clearScreenAnimationAndShowProjects()"><span>Projects</span></button>
        <button #slideL (click)="clearScreenAnimationAndShowWork()"><span>Work</span></button>
        <button #slideL><span>Quit</span></button>
        <!--
        <div class="link-ctn">
        <a class="title" href="#">Github</a>
        <a class="title" href="#">Linkedin</a>
        <a class="title" href="#">Gmail</a>
        </div>-->
      </div>
      <ng-container *ngIf="message"><c-alert style="position:absolute; top: 0; right: 0; width: 200px; font-size:15px ">{{ message }}</c-alert></ng-container>

    </section>

    <ng-template #elseBlock>
      <section *ngIf="showProjects else elseBlock">
        <app-project [repositories]="repositories"></app-project>
      </section>
      <ng-template #elseBlock>
        <app-work [workExperiences]="experiences"></app-work>
      </ng-template>
    </ng-template>


  </main>
</div>

