//styles
.upper-ctn{
  background: none;
  font-family: 'Anton';
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow: scroll;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  /*
  */
}

.upper-ctn *{
  /*opacity: 0;
  animation-name: content-opacity-change;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;*/
}

 main section.main h1.name{
  text-align: center;
  font-weight: bolder;
  font-size: 2.5em;
  white-space: nowrap;
}

main section.main p.title{
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

main section.main p.description{
  margin-top: 5vh;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

section.main{
  text-align: center;
  font-weight: bolder;
  font-size: 4em;
  color : #FEFAE0;
}

section.main .info-btn-ctn{
  margin-top: 7vh;
  display: flex; /* uses the Flexible Box Layout */
  flex-direction: column; /* stacks the children vertically */
  align-items: center; /* centers the children horizontally */
}

section.main .info-btn-ctn button{
  margin-right: 1vw;
  margin-top: 3vh;
  background: none;
  height: fit-content;
  padding: .5vh 1vw; /* Resetting the padding */
  display: inline-flex; /* Flex layout to align the text properly */
  align-items: center; /* Centering the span vertically */
}

section.main .info-btn-ctn.resume-download-ctn {
  display: flex;
  flex-direction: row;
}

section.main .info-btn-ctn button span{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.slideL-ref{
  animation-name: slideL;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.slideR-ref{
  animation-name: slideR;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

//transitions

//dark mode
section.main .info-btn-ctn.dark-button-border-color button:hover{
  background: rgba(255, 255, 255, .3);
}
//light mode
section.main .info-btn-ctn.light-button-border-color button:hover{
  background: rgba(189, 195, 199, .3);
}


//animations

@keyframes content-opacity-change {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideL {
  from {transform: translateX(0);}
  to {transform: translateX(-100vw);}
}

@keyframes slideR {
  from {transform: translateX(0);}
  to {transform: translateX(100vw);}
}


//aspect ratio
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .upper-ctn * {
    transform: scale(0.9);
  }
}
