.three-model-ctn{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
}

#room {
  /* Style your canvas as needed */
  width: 100vw;
  height: 100vh;
}

.first-monitor-position{
  position: absolute;
  left: 47.5vw;
  top: 44vh;
}

.second-monitor-position{
  position: absolute;
  left: 60.5vw;
  top: 43vh;
}

@keyframes beat{
  to { transform: scale(1.8); }
}


