#room {
  /* Style your canvas as needed */
  width: 100%;
  height: 100%;

}

.indicator-ctn{
  cursor: pointer;
}

.static-indicator{
  position: absolute;
  left: 47vw;
  top: 43vh;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(125, 125, 125, 0.9);
}

.dynamic-indicator{
  position: absolute;
  left: 47vw;
  top: 43vh;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(125, 125, 125, 0.5);
  animation: beat 1s infinite alternate;
  transform-origin: center;
}

@keyframes beat{
  to { transform: scale(1.8); }
}


