div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6583A1;
  animation-name: bg-color-change;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

p{
  color: #ffffff;
}

@keyframes bg-color-change {
  from {background-color: #6583A1;}
  to {background-color: #171D24;}
}
