
@font-face {
  font-family: 'Anton';
  src: url("../../assets/fonts/Anton-Regular.ttf");
}

.upper-ctn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #29313B;
  font-family:  'Anton';
  animation-name: bg-color-change;
  animation-duration: 1s;
}
.header {
  height: 15%;
}

.header > section{
  display: inline-block;
}

.about{
  margin-right: auto;
  margin-left: 3%;
  width: 12%;
  height: 100%;
}

.contact{
  margin-left: 70%;
  margin-right: 3%;
  width: 12%;
  height: 100%;
}

.header section {
  border-bottom: 0.01em solid #FEFAE0;
  border-bottom-width: 0.0009em;
}

.header section h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 2.5em;
  color : #FEFAE0;
}
section.main{
  text-align: center;
  font-weight: bolder;
  font-size: 4em;
  color : #FEFAE0;
}

@keyframes bg-color-change {
  from {background: #3B4D59;}
  to {background: #29313B;}
}
