@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');
@page {
    margin: 0;
}

html {
    height: 100%;
}

body {
    width: 100% !important;
    height: 100% !important;
    background-color: #bde0fe;
    font-family: 'Inconsolata', monospace;
    font-size: 11px;
    margin: 0;
    padding: 0;
    color: #415a77;
}

.container {
    width: auto;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    border-spacing: 10px;
}

.inner-ctn {
    margin-left: 2%;
    width: 96%;
    height: 92%;
    margin-bottom: 2%;
    background: #f5ebe0;
    border-radius: 5px;
    border: 2px solid #0f2533;
}

.outter-ctn {
    background: #a2d2ff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #0f2533;
}

.title {
    font-family: 'Press Start 2P', serif;
    font-weight: 100;
    font-size: 12px;
    margin: 0;
    text-align: center;
}

.image {
    width: 10%;
    background-image: url('../../assets/photo.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #0f2533;
}

.inner-ctn div {
    border-spacing: 5px;
}

.inner-ctn a {
    color: #0077b6;
}

.inner-ctn ul {
    margin: 0;
    padding: 0 1vw 0 2vw;
}

.inner-ctn div>div {
    display: table-row;
}

.inner-ctn div h2,
.inner-ctn ul h2 {
    margin: 0;
}

.person,
.experience {
    height: 20%;
    margin-top: 10px;
}

.person .inner-ctn {
    height: 80%;
    border-spacing: 5px;
    padding: 10px 0;
}

.person .inner-ctn>div {
    display: table-cell;
}

.person .inner-ctn div h2 {
    margin: 10px 5px;
    text-align: center;
}

.contact-miscellaneous,
.education-skill {
    display: table-row;
}

.contact-miscellaneous {
    height: 50%;
}

.contact-miscellaneous>div,
.education-skill>div {
    display: table-cell;
}

.contact-miscellaneous>div:nth-child(1),
.education-skill>div:nth-child(1) {
    width: 40%;
}

.contact-miscellaneous .inner-ctn {
    height: 275px
}

.contact-miscellaneous .miscellaneous .inner-ctn>ul {
    list-style: none;
    margin-top: 10%;
    font-size: 12px;
    height: 80%;
}

.contact-miscellaneous .contact .inner-ctn>div{
    margin: 20% 30px;
    text-align: center;
}

.education-skill .inner-ctn {
    height: 375px;
    text-align: end;
}

.education-skill .education .inner-ctn>ul {
    list-style: none;
    margin-top: 25%;
    font-size: 12px;
    height: 50%;
    margin-left: -25px;
    text-align: center;
}

.education-skill .skill .inner-ctn>ul {
    list-style: none;
    margin-top: 2%;
    font-size: 12px;
    height: 96%;
}

.experience ul{
    margin-left: 25px;
}

.experience h2{
    text-decoration: underline;
    text-align: center;
    margin: 20px 0;
}

.experience ul{
    margin-left: 25px;
    font-size: 12px;
}

.vertical-separator {
    border-right: 10px solid transparent;
}

.separator {
    border: 5px solid transparent;
}

.page-break {
    break-after: page;
}