<ng-container *ngIf="showHeader">
  <div [defaultClasses]="['header']" [isDarkMode]="isDarkMode" [lightingClasses]="['text-color']" appLightingMode>
    <section class="about">
      <button (click)="clearScreenAnimationAndShowAbout()"><h1>{{ '_ABOUT_' | translate }}</h1></button>
    </section>

    <section class="contact">
      <button (click)="clearScreenAnimationAndShowContact()"><h1>{{ '_WRITE_ME_' | translate}}</h1></button>
    </section>
  </div>
  <aside [defaultClasses]="['contact-info-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[ 'form-element-color', 'button-hover', 'text-color']" appLightingMode>
    <div *ngFor="let contactInfo of contactInfos;" class="app-contact-info-ctn">
      <app-contact-info [actionMessage]="contactInfo.actionMessage" [actionType]="contactInfo.actionType"
                        [actionValue]="contactInfo.actionValue" [contactType]="contactInfo.contactType" [isDarkMode]="isDarkMode"></app-contact-info>
    </div>
  </aside>

  <aside [defaultClasses]="['option-menu-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[ 'form-element-color', 'button-hover', 'text-color']" appLightingMode>
    <div class="app-option-menu-ctn">
      <app-option-menu [isDarkMode]="isDarkMode" actionType="_ACTION_LIGHT_MODE_"></app-option-menu>
    </div>
    <div class="app-option-menu-ctn">
      <app-option-menu [isDarkMode]="isDarkMode" actionType="_ACTION_LANG_"></app-option-menu>
    </div>
  </aside>
</ng-container>
<ng-container *ngIf="showAlert">
  <app-custom-alert [alertOperationType]="alertOperationType" [messageType]="'_SIMPLE_'" [simpleMessageValue]="alertMessage"></app-custom-alert>
</ng-container>
