<ng-container *ngIf="showHeader">
  <div [defaultClasses]="['header']" [isDarkMode]="isDarkMode" [lightingClasses]="['text-color']" appLightingMode>
    <section class="about">
      <button (click)="clearScreenAnimationAndShowAbout()"><h1>{{ '_ABOUT_' | translate }}</h1></button>
    </section>

    <section class="contact">
      <button (click)="clearScreenAnimationAndShowContact()"><h1>{{ '_WRITE_ME_' | translate}}</h1></button>
    </section>
  </div>
  <aside [defaultClasses]="['contact-info-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[ 'form-element-color', 'button-hover', 'text-color']" appLightingMode>
    <div class="app-contact-info-ctn">
      <app-contact-info [isDarkMode]="isDarkMode" actionType="_ACTION_EMAIL_" contactType="Email Address"></app-contact-info>
      <app-contact-info [isDarkMode]="isDarkMode"  actionType="_ACTION_PHONE_"  contactType="Phone Number"></app-contact-info>
      <app-contact-info [isDarkMode]="isDarkMode" actionType="_ACTION_GITHUB_" contactType="Github Profil"></app-contact-info>
      <app-contact-info [isDarkMode]="isDarkMode"  actionType="_ACTION_LINKEDIN_" contactType="Linkedin Profil"></app-contact-info>
    </div>
  </aside>

  <aside [defaultClasses]="['option-menu-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[ 'form-element-color', 'button-hover', 'text-color']" appLightingMode>
    <div class="app-option-menu-ctn">
      <app-option-menu [isDarkMode]="isDarkMode" actionType="_ACTION_LIGHT_MODE_"></app-option-menu>
      <app-option-menu [isDarkMode]="isDarkMode" actionType="_ACTION_LANG_"></app-option-menu>
    </div>

  </aside>
</ng-container>
