@import "../node_modules/@coreui/coreui/scss/coreui";
// imports & declaration
@font-face {
  font-family: 'Anton';
  src: url("./assets/fonts/Anton-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* You can add global styles to this file, and also import other style files */
html, body {
  background: none;
  margin: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  touch-action: none;
}

//display modes

//dark mode
.dark-bg {
  animation-name: dark-bg-color-change ;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.dark-component-bg {
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 50%, rgb(252, 251, 121) 90%);
}

.dark-text-color h1, .dark-text-color p, .dark-text-color span, .dark-text-color h2, .dark-text-color ul, .dark-text-color a{
    background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 50%, rgb(252, 251, 121) 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


p.dark-white-text-color, .dark-white-text-color p, .dark-white-text-color a {
  background: none;
  background-size: 0;
  -webkit-text-fill-color:white  !important;
  -moz-text-fill-color: white;
  color : white;
}

p.light-white-text-color, .light-white-text-color p, .light-white-text-color a {
  background: none;
  background-size: 0;
  -webkit-text-fill-color: rgb(150, 150, 150) !important;
  -moz-text-fill-color: rgb(150, 150, 150);
  color : rgb(150, 150, 150);
}

.dark-button-border-color button{
  border: 3px solid rgb(255, 200, 124);
}

.main.dark-text-color section {
  border-bottom: 0.01em solid rgb(255, 200, 124);
  border-bottom-width: 0.0009em;
}

.dark-border img, .dark-border .carousel-dimensions, .dark-border .contact-info-card, .dark-border button{
  border: 3px solid rgb(255, 200, 124) !important;
}

.dark-form-element-color button, .dark-form-element-color input, .dark-form-element-color textarea{
  background-color: transparent;
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 50%, rgb(252, 251, 121) 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  outline: none;
  caret-color: rgb(255, 200, 124);
}

.dark-button-hover button:hover{
  background: transparent; /* Remove the background */
  background-size: auto; /* Reset background size */
  -webkit-background-clip: initial; /* Reset background-clip */
  -moz-background-clip: initial; /* Reset background-clip */
  -webkit-text-fill-color: initial; /* Reset text-fill-color */
  -moz-text-fill-color: initial; /* Reset text-fill-color */
  white-space: nowrap;
  outline: none;
  background: rgba(255, 255, 255, .3);
  color: rgb(255, 200, 124);
}

.dark-bottom-border-color input, .dark-bottom-border-color textarea{
  border-bottom: 0.01em solid rgb(255, 200, 124) !important;
}



//light mode
.light-bg {
  animation-name: light-bg-color-change;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.light-component-bg {
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}

.light-text-color h1, .light-text-color p, .light-text-color span, .light-text-color h2, .light-text-color ul{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.light-button-border-color button{
  border: 3px solid rgb(189, 195, 199);
}

main .light-text-color section {
  border-bottom: 0.01em solid rgb(189, 195, 199);
  border-bottom-width: 0.0009em;
}

.light-border img, .light-border .carousel-dimensions, .light-border button{
  border: none;
  border: 3px solid rgb(150, 150, 150) !important;
}

.light-form-element-color button, .light-form-element-color input, .light-form-element-color textarea{
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  outline: none;
  caret-color: rgb(189, 195, 199);
}


.light-button-hover button:hover{
  background: transparent; /* Remove the background */
  background-size: auto; /* Reset background size */
  -webkit-background-clip: initial; /* Reset background-clip */
  -moz-background-clip: initial; /* Reset background-clip */
  -webkit-text-fill-color: initial; /* Reset text-fill-color */
  -moz-text-fill-color: initial; /* Reset text-fill-color */
  white-space: nowrap;
  outline: none;
  background: rgba(189, 195, 199, .3);
  color: rgb(109, 109, 109);
}

.light-bottom-border-color input, .light-bottom-border-color textarea{
  border-bottom: 0.1em solid rgb(189, 195, 199) !important;
}


//animations
@keyframes dark-bg-color-change {
  from {background: #748cab;}
  to {background: #202633;}
}

@keyframes light-bg-color-change {
  from {background: #ddbea9;}
  to {background: #ffe8d6;}
}
