@import "../node_modules/@coreui/coreui/scss/coreui";


/* You can add global styles to this file, and also import other style files */
html, body {
  background: #2b2d42;
  margin: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}
