<section *ngIf="repositories?.length != 0 else elseBlock" [defaultClasses]="[]" [isDarkMode]="isDarkMode" [lightingClasses]="['border']" appLightingMode>
  <c-carousel [dark]="!isDarkMode" [interval]="0" class="carousel-dimensions">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let repo of repositories">
        <div [defaultClasses]="['slide']" [isDarkMode]="isDarkMode" [lightingClasses]="['bg', 'text-color', 'button-border-color']" appLightingMode>
          <div [defaultClasses]="['project-title']" [isDarkMode]="isDarkMode" [lightingClasses]="['text-color']" appLightingMode>
            <h1>{{repo.name}}</h1>
            <p [defaultClasses]="[]" [isDarkMode]="isDarkMode" [lightingClasses]="['white-text-color']" appLightingMode>{{repo.description}}</p>
          </div>
          <div class="project-metadata">
            <div [defaultClasses]="['repository-metadata']" [isDarkMode]="isDarkMode" [lightingClasses]="['white-text-color']" appLightingMode>
              <p>{{ '_PROJECT_MAIN_TECH_' | translate:{'repoLanguage': repo.language} }}</p>
              <p>{{ '_PROJECT_CREATED_' | translate:{'createdAt': (repo.created_at | date:'dd/MM/yyyy')} }}</p>
              <p>{{ '_PROJECT_LICENSES_' | translate:{'license': repo.license ? repo.license : ''} }}</p>
            </div>
            <div [defaultClasses]="['user-metadata']" [isDarkMode]="isDarkMode" [lightingClasses]="['white-text-color', 'border']" appLightingMode>
              <img src="{{repo.owner.avatar_url}}">
              <p>{{ '_PROJECT_OWNER_USERNAME_' | translate:{'ownerUsername': repo.owner.login} }}</p>
              <a href="{{repo.owner.html_url}}" target="_blank">{{ '_PROJECT_VISIT_PROFILE_' | translate }}</a>
            </div>
          </div>
          <button (click)="navigateTo(repo.html_url)" [defaultClasses]="['info-btn-ctn']" [isDarkMode]="isDarkMode" [lightingClasses]="[]" appLightingMode type="button"><span>{{ '_VISIT_REPOSITORY_' | translate }}</span></button>
        </div>
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</section>
<ng-template #elseBlock>
  <c-spinner color="light" variant="grow"></c-spinner>
</ng-template>

