.carousel-dimensions{
  margin: 8vh 10vw;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide{
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.slide > div{
  margin-top : 2%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}


.slide > div:nth-child(2){
  margin-top : 3%;
}

.project-title h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  white-space: nowrap;
  //transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(30deg) rotateY(-30deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

.project-title p{
  margin: 1vh 6vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
}

.project-metadata {
  display: flex;
}

.repository-metadata, .user-metadata {
  flex: 1;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  height: fit-content;
}

.repository-metadata {
  border-right: 1px solid white;
}

.user-metadata > *{
  margin-top: 1vh;
}

.user-metadata img{
  width: 75px;
  height: 75px;
}

.user-metadata a{
  text-decoration: underline;
}


button.info-btn-ctn {
  background: none;
  width: fit-content;
  margin: auto;
  height: fit-content;
  padding: .5vh .5vw; /* Resetting the padding */
  display: inline-flex; /* Flex layout to align the text properly */
  align-items: center; /* Centering the span vertically */
}

button.info-btn-ctn span{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

//transitions

//dark mode
.info-btn-ctn.dark-button-border-color button:hover{
  background: rgba(255, 255, 255, .3);
}
.info-btn-ctn.light-button-border-color button:hover{
  background: rgba(189, 195, 199, .3);
}


/* Animations */
@keyframes slideUp {
  from {transform: translateY(100vh);}
  to {transform: translateY(0);}
}

@-webkit-keyframes slideUp {
  from {transform: translateY(100vh);}
  to {transform: translateY(0) ;}
}

@-moz-keyframes slideUp {
  from {transform: translateY(100vh);}
  to {transform: translateY(0);}
}


//aspect ratio
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9), (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 144dpi)  {
  .carousel-dimensions div {
    transform: scale(0.95);
  }
}

@media only screen and (max-width: 800px) {
  .carousel-dimensions{
    margin: 0;
  }

  .slide{
    height: 85vh;
  }
}

@media only screen and (max-width: 360px) {
  .project-title p{
    font-size: 0.8em;
  }
}
