<main>
  <section class="contact-form-ctn">
    <h1>WRITE ME</h1>
    <p>Don't hesitate to contact me with any questions regarding my work or services.</p>
    <p>I will do my best to respond to you as soon as possible.</p>
    <div class="form-ctn">
      <input #input name="mail" placeholder="Email" type="email" />
      <input #input name="name" placeholder="Full Name" type="text" />
      <input #input name="subject" placeholder="Subject" type="text" />
      <textarea #textarea cols="50" name="message" placeholder="message" rows="4"></textarea>
      <button (click)="sendEmail()" >Submit</button>
    </div>
  </section>
  <aside class="contact-info-ctn">

  </aside>
</main>
