// imports & declaration
@font-face {
  font-family: 'Anton';
  src: url("../../../../assets/fonts/Anton-Regular.ttf");
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10vh;
}

main section.contact-form-ctn{
  flex: 1.95;
}

main section.contact-form-ctn .form-ctn{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

main section.contact-form-ctn h1, main section.contact-form-ctn p{
  text-align: center;
  white-space: nowrap;
}

main section.contact-form-ctn p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1em;
  margin: 0;
}

main section.contact-form-ctn h1{
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  font-size: 4em;
  margin-bottom: 5vh;
}

main section.contact-form-ctn input, main section.contact-form-ctn textarea, main section.contact-form-ctn button{
  width: 50%;
  margin: 3vh auto;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1em;
  white-space: nowrap;
}

main section.contact-form-ctn button{
  width: fit-content;
  padding: 1vh 3vw;
}

input:focus::placeholder, main section.contact-form-ctn textarea:focus::placeholder{
  background: transparent; /* Remove the background */
  background-size: auto; /* Reset background size */
  -webkit-background-clip: initial; /* Reset background-clip */
  -moz-background-clip: initial; /* Reset background-clip */
  -webkit-text-fill-color: initial; /* Reset text-fill-color */
  -moz-text-fill-color: initial; /* Reset text-fill-color */
  white-space: nowrap;
  outline: none;
 }

//aspect ratio
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 16/9), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .contact-form-ctn *{
    transform: scale(0.9);
  }
}


