// imports & declaration
@font-face {
  font-family: 'Anton';
  src: url("../../../../assets/fonts/Anton-Regular.ttf");
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 10vh;
}

main section.contact-form-ctn{
  flex: 2;
}

main aside.contact-info-ctn{
  flex: 1;
}

main section.contact-form-ctn .form-ctn{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

main section.contact-form-ctn h1, main section.contact-form-ctn p{
  text-align: center;
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 50%, rgb(252, 251, 121) 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  white-space: nowrap;
}

main section.contact-form-ctn p{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1em;
  margin: 0;
}

main section.contact-form-ctn h1{
  font-family: 'Anton', sans-serif;
  font-weight: bolder;
  font-size: 4em;
  margin-bottom: 5vh;
}

main section.contact-form-ctn input, main section.contact-form-ctn textarea, main section.contact-form-ctn button{
  width: 50%;
  margin: 3vh auto;
  background-color: transparent;
  border: none;
  border-bottom: 0.01em solid rgb(255, 200, 124);
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 1em;
  background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 50%, rgb(252, 251, 121) 90%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  white-space: nowrap;
  outline: none;
  caret-color: rgb(255, 200, 124);
}

main section.contact-form-ctn button{
  width: fit-content;
  border: 3px solid rgb(255, 200, 124);
  height: fit-content;
  padding: .5vh 2vw; /* Resetting the padding */
  display: inline-flex; /* Flex layout to align the text properly */
  align-items: center; /* Centering the span vertically */
}

main section.contact-form-ctn button:hover{
  background: transparent; /* Remove the background */
  background-size: auto; /* Reset background size */
  -webkit-background-clip: initial; /* Reset background-clip */
  -moz-background-clip: initial; /* Reset background-clip */
  -webkit-text-fill-color: initial; /* Reset text-fill-color */
  -moz-text-fill-color: initial; /* Reset text-fill-color */
  white-space: nowrap;
  outline: none;
  background: rgba(255, 255, 255, .3);
  color: rgb(255, 200, 124);
}


input:focus::placeholder, main section.contact-form-ctn textarea:focus::placeholder,  {
  background: transparent; /* Remove the background */
  background-size: auto; /* Reset background size */
  -webkit-background-clip: initial; /* Reset background-clip */
  -moz-background-clip: initial; /* Reset background-clip */
  -webkit-text-fill-color: initial; /* Reset text-fill-color */
  -moz-text-fill-color: initial; /* Reset text-fill-color */
  white-space: nowrap;
  outline: none;
 }



